@font-face {
  font-family: "Shabnam";
  src: url("../../Assets/fonts/Shabnam-FD.eot"); /* IE9 Compat Modes */
  src: url("../../Assets/fonts/Shabnam-FD.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../../Assets/fonts/Shabnam-FD.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../../Assets/fonts/Shabnam-FD.woff") format("woff"), /* Modern Browsers */
  url("../../Assets/fonts/Shabnam-FD.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: "shabnam";

}
body{
  font-family: "shabnam";
}